<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>lab12</title>
    
</head>
<body>
    <header>
        <h3 class="h1-header">Backend2</h3>
        <a class="button-header" href="">Home</a>
    </header>
    <div class="content">
        <h1 class = "content-header">Form parameters parsing demo</h1>
        <ul>
            <li><a href="Calc/Manual">Manual parsing in single action</a></li>
            <li><a href="Calc/ManualWithSeparateHandlers">Manual parsing in separate actions</a></li>
            <li><a href="Calc/ModelBindingInParameters">Model binding (parameters)</a></li>
            <li><a href="Calc/ModelBindingInSeparateModel">Model binding (separate model)</a></li>
        </ul>
    </div>
    <div class="line"></div>
    <footer>© 2023 - Backend2</footer>
</body>
</html>